
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: linear-gradient(#669999,#336699);
  font-family: 'Poppins', sans-serif;
}